.scrollbar-mixin() {
  /* 基础设置 */
  background-color: transparent;
  overflow-y: auto;

  /* Firefox */
  scrollbar-color: rgba(121, 121, 121, 0.5) transparent;
  scrollbar-width: thin;

  /* Webkit (Chrome/Edge/Safari) */
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(121, 121, 121, 0.5);
    border-radius: 3px;

    &:hover {
      background: rgba(121, 121, 121, 0.8);
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
